html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit;
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

button, input[type="submit"], i {
  cursor: pointer;
  background-color: inherit;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
}

body {
  background-color: rgb(220, 220, 220); 
}

p {
  display: inline-block;
}

h4 {
  margin: 0;
  font-size: 25px;
  text-align: center;
}