.soundcloud-big {
  font-size: 120px;
  color: #F65502;
}

.log-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 470px;
  padding: 25px;
  background-color: white;
  margin: 0 auto;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.log-in-form input, .log-in-button {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 7px;
  height: 38px;
  border-radius: 5px;
  margin-top: 10px;
}

.log-in-button {
  background-color: #F65502; 
  text-align: center;
  color: white;
}

.log-in-form input {
  border: 1px solid #ccc;
}

.form-screen {
  position: fixed;
  background-color: rgba(242,242,242,0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.session-errors {
  color: #F65502;
  padding-top: 20px;
  padding-bottom: 10px;
}

.session-error-active {
  border: 1px solid #F65502 !important;
}

.genre {
  display: flex;
  flex-direction: column;
}

.modal-child {
  position: relative;
  margin: 100px auto 0 auto;
  text-align: center;
  align-content: center;
}
