.track-show {
  width: 1240px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

#album-cover {
  width: 340px;
  height: 340px;
  align-self: center;
}

.track-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #8D8A81; 
}

.big-icon {
  color: #F65502;
  font-size: 70px;
  margin-right: 10px;
}

.big-icon:hover {
  color: #FC3200;
}

.song-info {
  overflow: auto;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.title-info, .artist-info {
  background-color: #272728;
  padding: 5px 10px;
  text-align: center;
  height: 40px;
}

.title-info {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-info {
  height: 80px;
}

.waveform {
  width: 800px;
}

.left-side-show {
  display: flex;
  flex-direction: column;
}