.track-form-section, .user-form-section, .upload-form-section {
  width: 1240px;
  height: 600px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px; 
}

.upload-form-section {
  margin-top: 0;
  overflow: hidden;
}

.track-form-section h2, .edit-title, .upload-form-section h2 {
  text-align: center;
  padding-top: 20px;
}

.track-form, .user-form, .bottom-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 340px;
  width: 650px;
  margin: 0 auto;
}

.upload-form {
  width: 650px;
  margin: 0 auto;
}

#bottom-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 350px;
  width: 100%;
  margin-bottom: 30px;
  visibility: hidden;
  transform: translateY(600px);
  transition: 2s;
}

#bottom-form.visible {
  height: 350px;
  visibility: visible;
  transform: translateY(0);
  transition: 2s;
}

.track-form {
  margin-top: 50px;
}

.upload-form {
  margin-top: 10px;
}

.track-upload {
  height: 350px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 60px;
  border: 1px dashed #bbb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.track-upload.smaller {
  height: 200px;
  transition: 2s;
}

.track-upload h4 {
  margin-bottom: 10px;
}

.image-preview{
  height: 340px;
  width: 340px;
}

.right-side-form, .right-side-form-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.title-input, .track-submit, select, .username-input, .description-input{
  width: 100%;
  height: 38px;
  border-radius: 5px;
}

.title-input, select, .username-input, .description-input {
  border: 1px solid #ccc;
  padding-left: 10px;
  box-sizing: border-box;
}

.track-submit, .track-input {
  background-color: #F65502;
  color: white;
  text-align: center;
  font-size: 18px;
}

input[type=file] {
  display: none;
}

.track-input {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.photo-form {
  position: relative;
}

.photo-input {
  position: absolute;
  left: 165px;
  bottom: 20px;
  font-size: 14px;
  color: #333;
  padding: 5px;
  background-color: rgba( 125, 125, 125, 0.5);
  border: 1px solid rgba( 50, 50, 50, 0.75);
  cursor: pointer;
  border-radius: 5px;
}

.fa-camera {
  margin-right: 5px;
}

.track-form-protected {
  width: 100%;
  padding: 9px 0;
  text-align: center;
  background-color: #888;
  color: #333;
  border-radius: 5px;
}

select {
  //  -webkit-appearance: none; 
  //  -moz-appearance: none;
  //  appearance: none;       /* remove default arrow */
  //  background-image: url(...);   /* add custom arrow */
   font-size: 16px;
   cursor: pointer;
   transition: .2s;
}

select:hover {
  background-color: #999;
}

select:focus {
  outline: none;
}

.track-delete-section {
  z-index: 21;
  width: 475px;
  height: 275px;
  padding: 25px;
  box-sizing: border-box;
  background: white;
  margin: 0 auto;
}

.delete-play, .delete-paused, .delete-playing {
  font-size: 50px;
  margin-right: 10px;
}

.delete-play {
  color: #F65502;
}

.delete-paused, .delete-playing, .delete-play:hover {
  color: #FC3200;
}

.main-delete {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.delete-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 205px;
}

.track-delete-info, .track-delete-buttons {
  display: flex;
  align-items: center;
}

.delete-button, .cancel-button  {
  border-radius: 3px;
  color: rgb(51, 51, 51);
  font-size: 14px;
  padding: 2px 9px;
}

.delete-button {
  background-color: #F65502;
  border: 1px solid #F65502;
  color: white;
}

.cancel-button {
  border: 1px solid rgb(204, 204, 204);
  background-color: white;
  color: black;
  transition: border .2s;
}

.cancel-button:hover {
  border: 1px solid rgb(150, 150, 150);
}

.track-delete-buttons {
  width: 100%;
  justify-content: space-evenly;
}

.track-loading {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 70px;
  right: 70px;
}