footer {
  background-color: #F2F2F2;
  border-top: 1px solid rgb(206, 206, 206);
  height: 48px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.music-bar-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-bar-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.toggle-play {
  font-size: 15px;
  color: black;
}

.music-bar-song-info {
  display: flex;
  color: black;
  align-items: center;
}

.music-bar-text {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.music-bar-artist {
  color: rgb(153, 153, 153);
}

.music-bar-title {
  color: rgb(102, 102, 102);
}

.music-bar-title:hover, .music-bar-artist:hover {
  color: black;
}