.music-time {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 85%;
  position: relative;
}

.music-progress-bar {
  width: 100%;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  color: transparent; 
  height: 2px;
  top: 47%;
  -webkit-appearance: none;
  z-index: 5;
  height: 2px;
}

.music-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
}

.progress-bar:hover .progress-ball{
  opacity: 1;
}

.progress-ball{
  width: 9px;
  height: 9px;
  background-color: #F65502;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  opacity: 0;
  transition: opacity .2s;
}

.outer-music-bar {
  width: 100%;
  background-color: rgb(204, 204, 204);
  height: 2px;
  position: relative;
}

.inner-music-bar {
  background-color: #F65502;
  height: 2px;
}

.music-time p {
  font-size: 11px;
  width: 30px;
}

.current-time {
  color: #F65502;
}

.music-buttons {
  display: flex;
  color: #333333;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}

.toggle-play {
  color: #333333;
  font-size: 16px;
}

.button-active {
  color: #F65502;
}

.volume-bar {
  visibility: hidden;
}

.volume-button:hover .volume-bar{
  visibility: visible;
}