.music-time {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 85%;
  position: relative;
}

.music-progress-bar {
  width: 100%;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  color: transparent; 
  height: 2px;
  top: 47%;
  -webkit-appearance: none;
  z-index: 5;
  height: 2px;
}

.music-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
}

.progress-bar:hover .progress-ball{
  opacity: 1;
}

// .volume-bar::-webkit-slider-runnable-track {
//   background-attachment: #F65502;
//   color: #F65502;
// }

.progress-ball{
  width: 9px;
  height: 9px;
  background-color: #F65502;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  opacity: 0;
  transition: opacity .2s;
}

.outer-music-bar {
  width: 100%;
  background-color: rgb(204, 204, 204);
  height: 2px;
  position: relative;
}

.inner-music-bar {
  background-color: #F65502;
  height: 2px;
}

.music-time p {
  font-size: 11px;
  width: 30px;
}

.current-time {
  color: #F65502;
}

.music-buttons {
  display: flex;
  color: #333333;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}

.toggle-play {
  color: #333333;
  font-size: 16px;
}

.button-active {
  color: #F65502;
}

.volume-button {
  height: 22px;
  width: 30px;
}

.volume-div:hover .volume-bar-div{
  visibility: visible;
}

.volume-bar::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -8px;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right: 7px solid rgb(150, 150, 150);
}

.volume-bar-div {
  visibility: hidden;
  border: 1px solid rgb(206, 206, 206);
  background-color: white; 
  box-shadow: 0px 1px 2px rgb(206, 206, 206);
  padding: 10px;
  position: absolute;
  bottom: 70px;
  left: -50px;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
}

.volume-div {
  position: relative;
}

.volume-bar {
  width: 100px;
}