.music-time {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 70%;
  position: relative;
  cursor: default;
}

.music-progress-bar {
  width: 100%;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  color: transparent; 
  height: 2px;
  top: 47%;
  -webkit-appearance: none;
  z-index: 5;
  height: 2px;
}

.music-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
}

.progress-bar:hover .progress-ball{
  visibility: visible;
}

.progress-ball{
  width: 7px;
  height: 7px;
  background-color: #ff5000;
  position: absolute;
  border-radius: 50%;
  top: -2px;
  visibility: hidden;
}

.outer-music-bar {
  width: 100%;
  background-color: rgb(204, 204, 204);
  height: 2px;
  position: relative;
  cursor: default;
}

.inner-music-bar {
  background-color: #F65502;
  height: 2px;
  cursor: default;
}

.music-time p {
  font-size: 11px;
  width: 30px;
}