.user-show {
  width: 1240px;
  color: white;
  margin: 0 auto;
}

.user-section {
  width: 100%;
  padding: 20px;
  background-color: #8D8A81;   
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.user-show-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.user-show-text {
  margin-top: 30px;
  background-color: #272728;
  padding: 5px 10px;
  text-align: center;
  font-size: 24px;
}

.user-tracks-title {
  color: black;
}

.image-preview-user{
  height: 340px;
  width: 340px;
  border-radius: 50%;
}

.user-input-photo {
  left: 100px;
  bottom: 30px;
}

.user-form {
  width: 750px;
}

.description-input {
  height: 150px; 
}

.right-side-form-user {
  height: 340px;
}

.user-form-section {
  z-index: 11;
  position: absolute;
  top: 50px;
  left: 17.7%;
}

.edit-button {
  align-self: flex-end;
  margin-left: 840px;
  padding: 5px;
  background-color: white;
  color: black; 
  border: 1px solid rgb(150, 150, 150);
  transition: border .2s;
}

.fa-pencil-alt, .fa-trash-alt {
  margin-right: 5px;
}

.edit-button:hover {
  border: 1px solid rgb(204, 204, 204);
}

.delete-track-button, .edit-track-button {
  color: black;
}

.user-track-buttons {
  position: absolute;
  bottom: 0px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.user-track-buttons button {
  padding: 3px 13px 3px 14px;
  color: rgb(100, 100, 100);
  background-color: rgba(255,255,255,0.2);
  z-index: 4;
}

.user-track-buttons button:first-child {
  border-right: 1px solid rgb(100, 100, 100);
}

.user-track-buttons button i {
  background: transparent;
}

.user-track-buttons button:hover {
  background-color: rgba(255,255,255,0.7);
  color: rgb(50, 50, 50);
}