.comments-section {
  width: 85%;
}

.second-part {
  width: 95%;
  margin-top: 20px;
  margin-left: 2.5%;
}

.currentUser-track-photo {
  width: 54px;
  height: 54px;
}

.comment-form-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.small-comment-form-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 976px;
  background-color: rgb(229, 229, 229);
  height: 44px;
}

.small-comment-input {
  margin-left: 5px;
  font-size: 14px;
  width: 760px;
}

.big-comment-form {
  width: 1093px;
  height: 24px;
  box-sizing: content-box;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  transition: border .2s;
}

.comment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.parent-comment-li {
  width: 100%;
}

.child-comment-li {
  width: 98%;
}

.actual-input {
  width: 700px;
  box-sizing: content-box;
  padding: 3px 0 3px 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  transition: border .2s;
  background-color: white;
}

.comment-form {
  width: 96%;
  height: 54px;
  background-color: rgb(229, 229, 229);
}

.big-comment-form:focus {
  border: 1px solid #555;
}

.commenting-section {
  display: flex;
}

.comment-count {
  color: #999;
  margin: 20px 0;
}

.comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-div {
  display: flex;  
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.comment-info {
  display: flex;
}

.comment-text{
  display: flex;
  flex-direction: column;
}

.comment-user-info {
  cursor: pointer;
  color: #999;
  font-size: 14px;
  transition: color .2s;
}

.comment-user-info:hover {
  color: black;
}

.reply-button, .reply-button-delete, .cancel-button {
  justify-self: flex-end;
  font-size: 12px;
  padding: 5px 10px; 
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: border .2s;
  visibility: hidden;
}

.cancel-button {
  visibility: visible;
  background-color: inherit;
  margin-right: 10px;
}

.cancel-button i {
  margin-right: 5px;
}

.reply-button-delete {
  margin-right: 10px;
}

.reply-button:hover, .reply-button-delete:hover, .cancel-button:hover {
  border: 1px solid #777;
}

.comment-div:hover {
  .reply-button, .reply-button-delete {
    visibility: visible;
  }
  background-color: #dedede; 
}

.children-comment {
  margin-left: 25px;
}

.comment-parent-user-info{
  font-size: 12px;
  color: #38d;
}

.parent-form {
  margin-left: 25px;
}

.edit-buttons {
  display: flex;
  width: 160px;
  justify-content: flex-end;
}


.invisible {
  display: none;
}